---
import Layout from '../layouts/Layout.astro';
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PersonalData from "../components/PersonalData.astro"
// Supports weights 200-800
import '@fontsource-variable/dosis';
---

<Layout title="Portfolio nick4 - Software Developer.">
	<div id="preloader"><h1 class="text-center text-4xl translate-y-80">Loading Site...</h1></div>
	<main class="px-2 bg-[url('https://i.ibb.co/9g28byj/bg.jpg')]"
	>
		<Header/>
		<PersonalData/>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
			Projects
			</h2>
			<Projects/>

		</SectionContainer>
		<Footer/>

		<script>
			let loaded = false
			let enoughTimePassed = false

			window.addEventListener("load", function() {
				if (enoughTimePassed) { hidePreloader() }
				loaded = true

			})

			setTimeout(() => {
				if (loaded) { hidePreloader() }
				enoughTimePassed = true
			}, 100)

			function hidePreloader() {
				const preloader = document.getElementById("preloader");
				if (preloader) {
					preloader.remove();
				}
			}
		</script>

	</main>
</Layout>
