---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
	<div class="relative h-full w-full bg-slate-950"/>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Dosis Variable', system-ui, sans-serif;
	}

	body {
		background: #202731;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	#preloader{
		background: #000 url("../images/infinite.gif") no-repeat center center fixed;
		background-size: 15%;
		height: 100vh;
		width: 100%;
		position: fixed;
		z-index: 100;
	}


</style>
